rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /pax/{paxId}/{document=**}  {
      allow read, write: if request.auth != null && (paxId == request.auth.token.sub || get(/databases/$(database)/documents/pax/$(request.auth.token.sub)).data.is_supervisor == true);
    }
  }
}